.App {
  text-align: center;
  display: flex;
  gap: 50px;
}

.Counter {
  text-align: center;
  border: 1px solid aquamarine;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}

.buttons {
  border: 1px solid aquamarine;
  padding: 10px;
}

.settings {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}